body {
  background: #e0ffcd;
}

.app {
  max-width: 800px;
  margin: 60px auto;
}

.weather {
  background: #fdffcd;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.weather form {
  padding-bottom: 30px;
  border-bottom: 1px solid#ffebbb;
}

.weather .form-control {
  border: none;
  background-color: #ffebbb;
}

.btn {
  background-color: #ffcab0;
  color: white;
}

.btn:hover {
  color: #e46161;
}

.weather-info {
  margin-top: 20px;
}

.weather-info ul {
  margin: 0;
  padding: 0;
}
.weather-info li {
  list-style: none;
}

.weather-info .time-update {
  color: rgba(39, 39, 39, 0.4);
  font-size: 12px;
}
.weather-info li::first-letter {
  text-transform: capitalize;
}

.weather .temperature {
  font-size: 80px;
  line-height: 1;
}

.weather .unit {
  font-size: 28px;
  position: relative;
  top: -34px;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #ffebbb;
  padding-bottom: 50px;
}

.weather-forecast .forecast-day {
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast img {
  margin: 10px auto;
}

.weather-forecast .forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}

footer {
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #e46161;
}
