.app {
  max-width: 600px;
  margin: 60px auto;
}

.weather form {
  padding-bottom: 30px;
  border-bottom: 1px solid #f9f7fe;
}

.weather-info {
  margin-top: 20px;
}

.weather-info ul {
  margin: 0;
  padding: 0;
}
.weather-info li {
  list-style: none;
  color: rgba(39, 39, 39, 0.4);
  text-transform: capitalize;
}

.weather .temperature {
  font-size: 80px;
  line-height: 1;
}

.weather .unit {
  font-size: 28px;
  position: relative;
  top: -34px;
}

.weather .unit a {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.weather-forecast .forecast-day {
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast img {
  margin: 10px auto;
}

.weather-forecast .forecast-temperature {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}

footer {
  text-align: center;
  font-size: 12px;
}
